@import "tailwindcss";

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Para asegurarte de que el header esté sobre otros elementos */
}
  
.animate-zoom {
    animation: zoom 5s linear;
}

@keyframes zoom {
    from {
        scale: 1.25
    }
    to {
        scale: 1;
    }
}