<!DOCTYPE html>
<html lang="en">
<head>
    <title>Micro Planet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descubre cómo atraer dinero, empleo, suerte y felicidad con poderosos rituales, conjuros y hechizos. Protege tu hogar y tu vida con antiguas prácticas de magia negra, blanca, budo cubano y santería africana. ¡Transforma tu destino con efectividad y rapidez!">
    <meta name="keywords" content="rituales de protección, conjuros efectivos, hechizos para el dinero, magia negra, magia blanca, santería africana, magia cubana, atraer la suerte, rituales de prosperidad, protección energética, hechizos para el amor, rituales de empleo, atraer felicidad, magia para el hogar, rituales rápidos y efectivos, protección espiritual">
    <meta name="author" content="Prosperidad">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="Prosperidad - Atrae Dinero, Empleo, Suerte y Felicidad">
    <meta property="og:description" content="Descubre cómo atraer dinero, empleo, suerte y felicidad con poderosos rituales, conjuros y hechizos. Protege tu hogar y tu vida con antiguas prácticas de magia negra, blanca, budo cubano y santería africana. ¡Transforma tu destino con efectividad y rapidez!">
    <meta property="og:url" content="https://www.prosperidad.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Prosperidad - Atrae Dinero, Empleo, Suerte y Felicidad">
    <meta name="twitter:description" content="Descubre cómo atraer dinero, empleo, suerte y felicidad con poderosos rituales, conjuros y hechizos. Protege tu hogar y tu vida con antiguas prácticas de magia negra, blanca, budo cubano y santería africana. ¡Transforma tu destino con efectividad y rapidez!">
</head>
<body>
    <section class="sr-only" style="padding: 50px 20px; text-align: center; background-color: #1C1C1C; color: #D9D9D9;">
		<h2 style="font-size: 2.5em; color: #1A4D26;">Paleta de Colores</h2>
	
		<div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 20px;">
			<!-- Color: Negro -->
			<div style="text-align: center; background-color: #000000; color: #D9D9D9; padding: 20px; border-radius: 5px; width: 150px;">
				<p style="font-size: 1.2em;">Negro</p>
				<p>bg-black</p>
			</div>
	
			<!-- Color: Gris muy oscuro -->
			<div style="text-align: center; background-color: #1C1C1C; color: #D9D9D9; padding: 20px; border-radius: 5px; width: 150px;">
				<p style="font-size: 1.2em;">Gris Muy Oscuro</p>
				<p>bg-gray-800</p>
			</div>
	
			<!-- Color: Blanco roto -->
			<div style="text-align: center; background-color: #D9D9D9; color: #333333; padding: 20px; border-radius: 5px; width: 150px;">
				<p style="font-size: 1.2em;">Blanco Roto</p>
				<p>bg-gray-200</p>
			</div>
	
			<!-- Color: Gris claro oscuro -->
			<div style="text-align: center; background-color: #A9A9A9; color: #333333; padding: 20px; border-radius: 5px; width: 150px;">
				<p style="font-size: 1.2em;">Gris Claro Oscuro</p>
				<p>bg-gray-400</p>
			</div>
	
			<!-- Color: Verde oliva oscuro -->
			<div style="text-align: center; background-color: #1A4D26; color: #FFFFFF; padding: 20px; border-radius: 5px; width: 150px;">
				<p style="font-size: 1.2em;">Verde Oliva Oscuro</p>
				<p>bg-emerald-800</p>
			</div>
	
			<!-- Color: Teal -->
			<div style="text-align: center; background-color: #1D4F60; color: #FFFFFF; padding: 20px; border-radius: 5px; width: 150px;">
				<p style="font-size: 1.2em;">Teal</p>
				<p>bg-teal-800</p>
			</div>
	
			<!-- Color: Azul profundo -->
			<div style="text-align: center; background-color: #003366; color: #FFFFFF; padding: 20px; border-radius: 5px; width: 150px;">
				<p style="font-size: 1.2em;">Azul Profundo</p>
				<p>bg-blue-900</p>
			</div>
		</div>
	</section>
	
    <slot />
</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
