---
import favico from '../assets/favicon.ico'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prosperidad y union</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href={favico} />
    <meta name="description" content="Descubre cómo atraer dinero, empleo, suerte y felicidad con poderosos rituales, conjuros y hechizos. Protege tu hogar y tu vida con antiguas prácticas de magia negra, blanca, budo cubano y santería africana. ¡Transforma tu destino con efectividad y rapidez!">
    <meta name="keywords" content="rituales de protección, conjuros efectivos, hechizos para el dinero, magia negra, magia blanca, santería africana, magia cubana, atraer la suerte, rituales de prosperidad, protección energética, hechizos para el amor, rituales de empleo, atraer felicidad, magia para el hogar, rituales rápidos y efectivos, protección espiritual">
    <meta name="author" content="Prosperidad">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#000000">
    <meta property="og:title" content="Prosperidad - Atrae Dinero, Empleo, Suerte y Felicidad">
    <meta property="og:description" content="Descubre cómo atraer dinero, empleo, suerte y felicidad con poderosos rituales, conjuros y hechizos. Protege tu hogar y tu vida con antiguas prácticas de magia negra, blanca, budo cubano y santería africana. ¡Transforma tu destino con efectividad y rapidez!">
    <meta property="og:image" content={favico}>
    <meta property="og:url" content="https://www.prosperidad.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Prosperidad - Atrae Dinero, Empleo, Suerte y Felicidad">
    <meta name="twitter:description" content="Descubre cómo atraer dinero, empleo, suerte y felicidad con poderosos rituales, conjuros y hechizos. Protege tu hogar y tu vida con antiguas prácticas de magia negra, blanca, budo cubano y santería africana. ¡Transforma tu destino con efectividad y rapidez!">
    <meta name="twitter:image" content={favico}>
</head>
<body>
    
    <slot />
</body>
</html>