---
import page_img from '../assets/page_image.ico'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Micro Planet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href={page_img} />
    <meta name="description" content="Descubre nuestra colección exclusiva de pendientes hechos a mano en plata, acero y cerámica. Joyas únicas que combinan elegancia y durabilidad, perfectas para cualquier ocasión. ¡Resalta tu estilo con piezas artesanales de alta calidad!">
    <meta name="keywords" content="pendientes de plata, pendientes de acero, pendientes de cerámica, pendientes hechos a mano, joyería artesanal, joyería exclusiva, pendientes de lujo, pendientes modernos, joyas de alta calidad, pendientes para mujer, accesorios de moda, joyas hechas a mano, pendientes elegantes">
    <meta name="author" content="Joyería Artesanal">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#FFD700">
    <meta property="og:title" content="Pendientes Hechos a Mano - Joyería Artesanal">
    <meta property="og:description" content="Descubre nuestra colección exclusiva de pendientes hechos a mano en plata, acero y cerámica. Joyas únicas que combinan elegancia y durabilidad. ¡Resalta tu estilo con piezas artesanales de alta calidad!">
    <meta property="og:image" content={page_img}>
    <meta property="og:url" content="https://www.joyeriaartesanal.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Pendientes Hechos a Mano - Joyería Artesanal">
    <meta name="twitter:description" content="Descubre nuestra colección exclusiva de pendientes hechos a mano en plata, acero y cerámica. Joyas únicas que combinan elegancia y durabilidad. ¡Resalta tu estilo con piezas artesanales de alta calidad!">
    <meta name="twitter:image" content={page_img}>
</head>
<body>
    
    <slot />
</body>
</html>